@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
option {
  color: black;
}
.background-sign-in {
  background-image: linear-gradient(to right, #4f7cac, #d7263d);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-in-box {
  min-width: 70%;
  min-height: 80%;
  background-color: #f6fafa;
  border-radius: 20px;
  display: flex;
}
.sign-in-box div {
  width: 80%;
  padding: 20px;
}
.sign-in-box .sign-in-image {
  display: none;
}
.sign-in-box .sign-in-form {
  margin: 0px auto;
}

.sign-in-box .sign-in-form form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
select,
button {
  display: block;
  border: none;
  border-radius: 20px;
  margin: 10px 0;
  height: 40px;
  width: 80%;
  background-color: #e8e9eb;
  text-indent: 30px;
  font-size: 15px;
}
input:focus {
  border: 2px solid black;
}

input[type="submit"],
button {
  text-align: center;
  text-indent: 0;
  font-weight: bold;
}
input[type="submit"]:hover,
button:hover {
  background-color: rgb(124, 161, 200);
}
form hr {
  background-color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}
form h4 a {
  color: black;
}
/* Home Page */
.navbar {
  width: 100vw;
  min-height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.nav-items ul {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}
.nav-items ul li a,
.title a {
  color: white;
  text-decoration: none;
}
.nav-items ul li {
  list-style-type: none;
  min-width: 120px;
  height: 50px;
  padding: 10px;
  text-align: center;
}
.nav-items ul li:hover {
  background-color: white;
}
.nav-items ul li:hover a {
  color: black;
}
.title a {
  display: flex;
  padding: 5px;
  align-items: center;
}
.title a p {
  font-size: 2rem;
  margin-left: 10px;
}
.navbar-logo {
  width: 50px;
  display: block;
  border-radius: 5px;
}

.choose-box {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.switch-v {
  transform: rotateZ(90deg);
}
.slider-v {
  transform: scale(1.5);
}
.choose {
  text-align: center;
}

input[type="checkbox"] {
  width: 50px;
  height: 30px;
  display: block;
}
.check {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between !important;
  padding: 0 !important;
}
.profile {
  width: 100vw;
  height: 25vh;
  background-color: rgb(61, 60, 59);
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Dashboard */
.dashboard {
  display: flex;
  width: 100vw;
  height: calc(75vh - 60px);
}
.sidebar {
  background-color: rgb(236, 236, 236);
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
}
.sidebar h3 a {
  text-decoration: none;
  color: black;
}
.sidebar h3 {
  padding: 10px;
  margin: 10px;
  background-color: rgb(2, 246, 124);
}
.sidebar h3:hover {
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
}
.mainbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 255, 158);
  width: 75%;
  height: 100%;
  overflow: scroll;
  padding: 20px;
}

.otp-field {
  display: flex;
  justify-content: center;
}
.otp-field input {
  width: 40px;
  height: 50px;
  margin: 0px 5px;
  font-size: 2rem;
  font-weight: bold;
  text-indent: 10px;
}
.otp form h4 {
  text-align: center;
}

.profile-pic {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic img {
  border: 2px solid white;
  display: block;
  border-radius: 50%;
}
.invisible {
  display: none;
}

.main-bar-content-purchase {
  width: 60%;
}
.main-bar-content-purchase h2 {
  margin-bottom: 20px;
  position: relative;
  left: 130px;
}
.main-bar-content-purchase input,
select {
  margin-bottom: 20px;
}

.main-bar-content-browse {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
  height: 100%;
}
.browse-card {
  align-items: center;
  background: rgb(180, 179, 179);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  margin: 10px;
  min-width: 450px;
}
.browse-card:hover {
  box-shadow: 10px 10px 5px burlywood;
}

.browse-card-text,
.browse-card-button {
  padding: 10px;
  height: 100%;
}
.browse-card-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.browse-card-text h4 {
  margin-bottom: 20px;
}

/* On going purchases for consumers */
.ongoing-purchases {
  text-align: center;
  width: 90%;
  height: 100%;
}
.bid-card,
.accept-card,
.finalize-card {
  background: #c8fbff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  transition: all 1s;
}
.bid-card h3 {
  margin-bottom: 10px;
}
.bid-card:hover,
.accept-card:hover,
.finalize-card:hover {
  box-shadow: 5px 5px 5px #4f7cac;
}
.ongoing-purchases .header {
  border-bottom: 2px solid black;
  text-align: center;
}
.footer table {
  margin: 10px auto;
  text-align: center;
  border: 3px solid black;
  border-collapse: collapse;
}
.footer td,
th {
  padding: 10px;
  border: 3px solid black;
}
.footer input {
  background-color: black;
  color: white;
  text-align: center;
  text-indent: 0;
  margin: 0 auto;
  width: 150px;
}
.notify-no {
  background-color: rgb(212, 28, 28);
  border-radius: 30%;
  border: 1px solid white;
  padding: 2px;
  margin-left: 5px;
}

/* Accepted orders */
.accepted_orders {
  height: 100%;
}
.accepted_orders * {
  text-align: center;
}
.btns {
  display: flex;
}
.btns button,
input {
  margin: 20px;
}

/* Finalize Orders */

.finalize-purchase {
  height: 100%;
}
.finalize-purchase * {
  text-align: center;
}

/* Chat Window */
.chat-window {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 !important;
}

@media screen and (min-width: 676px) {
  .sign-in-box div {
    width: 50%;
  }
  .sign-in-box .sign-in-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-in-box .sign-in-image img {
    width: 60%;
    border-radius: 50px;
  }
  .sign-in-box .check {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
    padding: 0 !important;
  }
}
