{% extends 'base.html' %} {% block content %}
<section class="section-content">
  <div class="bg-img">
    <div class="tint">
      <div class="home-container">
        <h1 class="home-header">Farmer 2 Consumer</h1>
        <p style="color:white;padding: 0 70px;text-align: center;">
          A successful direct farm marketing business requires knowing and understanding effective marketing and management
          pratices.This application provides information about establishing and developing a direct farm marketing
          business.Production and marketing cost,management pratices,personal management and financial maangement are the topics
          discussed.
          Farmer to consumer provides an easy interface for farmer and consumer.We provide good quality of products.All the
          details of farmers and consumers are protected.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
