{% extends 'dashboard.html' %} {% block mainbar %}
<div class="accepted_orders">
  {% if accepts|length < 1 %}
  <h3 center>
    Sorry there are no accepted orders from consumers for you to display :(
  </h3>
  <h3>Keep bidding for more orders being accepted!!!</h3>
  {% else %} {% for item in accepts %}
  {% if item[8]!=1 %}
  <div class="accept-card">
    <div class="text">
      We are glad to inform you that <b>{{ item[0] }}</b> has accepted your
      item for bidding amount of <b>Rs {{ item[1] }} </b>for
      <b>{{ item[2] }} kgs</b> of <b>{{ item[3] }}</b> which should be
      delivered by <b>{{ item[4] }}</b>
    </div>
    <div>
      <form action="" method="POST" class="btns">
        <button type="button" id="b{{item[6]}}" onclick="showchat(this.id)">Chat with {{ item[0] }}</button>
        <button id="a{{item[6]}}" type="button" onclick="clearchat(this.id)" class="invisible">Minimize the chat</button>
        {{ form.hidden_tag() }}
        {{form.bid_id(value=item[5],class="invisible")}}
        <div class="chat-window invisible" id="chat-{{item[6]}}">
        </div>
        {% if item[7]!=1 %} {{ form.submit() }}{% endif %}
      </form>
    </div>
  </div>
  {% endif %}
  {% endfor %} {% endif %}
</div>
{% endblock %}
