<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/switch.css') }}" />
    <title>Consumer Sign In</title>
</head>

<body>
    <div class="background-sign-in">
        <div class="sign-in-box">
            <div class="sign-in-image hello">
                <img src="{{url_for('static',filename='images/consumer.jpg')}}" alt="Consumer Image" />
            </div>
            <div class="sign-in-form">
                <form action="" method="POST">
                    {% with messages=get_flashed_messages() %} {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li style="list-style-type: none;">
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %} {% endwith %}
                    <h1>Consumer Login</h1>
                    <hr />
                    {{ form.hidden_tag() }}
                    <!-- <input type="email" placeholder="Email-Id" /> -->
                    {{form.email(placeholder='Email-Id')}}
                    {% for error in form.email.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                    <!-- <input type="password" name="" id="" placeholder="Password" /> -->
                    {{form.password(placeholder='Password')}}
                    {% for error in form.password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                    <div class="check">
                        <!-- <input type="checkbox" name="" id="" /> -->
                        {{ form.remember_me }}
                        <h4>Remember Me</h4>
                    </div>
                    <!-- <input type="submit" value="Log In" /> -->
                    {{form.submit(placeholder='Log In')}}
                    <br />
                    <h4><a href="{{url_for('reset_password_request')}}">Damn!!! Forgot Password</a></h4>
                    <br />
                    <h4><a href="{{url_for('consumer_register')}}">New User!!! Sign Up</a></h4>
                </form>
            </div>
        </div>
    </div>
</body>

</html>