{% extends 'base.html' %} {% block content %}
<div class="profile"></div>
<div class="dashboard">
  <div class="sidebar">
    <h3><a href="">Edit Profile</a></h3>
    <h3><a href="">Purchase Items</a></h3>
    <h3><a href="">On-going Purchases</a></h3>
    <h3><a href="">Past Purchases</a></h3>
    <h3><a href="">Market Prices</a></h3>
    <h3><a href="">Raise an Issue</a></h3>
  </div>
  <div class="mainbar">
    <table>
      <tr>
        <th>No</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price Mentioned</th>
        <th>Price Quoted</th>
        <th>Delivery Date</th>
        <th>Farmer's Name</th>
        <th>Farmer's Rating</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Capsicum</td>
        <td>50 Kgs</td>
        <td>Rs 3000</td>
        <td>Rs 3200</td>
        <td>5th Oct 2019</td>
        <td>Ramesh</td>
        <td>*****</td>
        <td><button>Buy</button></td>
        <td><Button>Reject</Button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Capsicum</td>
        <td>50 Kgs</td>
        <td>Rs 3000</td>
        <td>Rs 3200</td>
        <td>5th Oct 2019</td>
        <td>Ramesh</td>
        <td>*****</td>
        <td><button>Buy</button></td>
        <td><Button>Reject</Button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Capsicum</td>
        <td>50 Kgs</td>
        <td>Rs 3000</td>
        <td>Rs 3200</td>
        <td>5th Oct 2019</td>
        <td>Ramesh</td>
        <td>*****</td>
        <td><button>Buy</button></td>
        <td><Button>Reject</Button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Capsicum</td>
        <td>50 Kgs</td>
        <td>Rs 3000</td>
        <td>Rs 3200</td>
        <td>5th Oct 2019</td>
        <td>Ramesh</td>
        <td>*****</td>
        <td><button>Buy</button></td>
        <td><Button>Reject</Button></td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
