{% extends 'base.html' %} {% block content %}
<div class="profile">
  <div class="profile-pic" style="min-width: 100px;min-height:200px;">
    {% set url='/static/images/'+profile_url %}
    <img src="{{ url }}" alt="Profile Pic" width="100px" />
    <button
      id="upload-img-btn"
      onclick="show_upload()"
      style="height: 20px; width:200px;"
    >
      Change Profile Pic
    </button>
    <form
      action="{{ url_for('upload_pp') }}"
      enctype="multipart/form-data"
      method="POST"
    >
      <input
        type="file"
        name="img-file"
        id="img-file"
        class="invisible"
        style="height: 20px;margin:5px auto"
      />
      <input
        type="submit"
        value="Upload"
        class="invisible"
        id="img-submit"
        style="height: 20px; margin:5px auto"
      />
    </form>
  </div>
  <div>
    <h3>Name : {{ name }}</h3>
    <h3>User Type : {{ cus_type }}</h3>
    <h3>Location : {{ city }}</h3>
    <h3>Email ID : {{ email }}</h3>
    <h3>Mobile No : {{ mobileno }}</h3>
  </div>
</div>
<div class="dashboard">
  <div class="sidebar">
    {% if cus_type=="Farmer" %}
    <h3><a href="{{ url_for('browse_orders') }}">Browse Orders</a></h3>
    <h3><a href="{{ url_for('accepted_orders') }}">Accepted Orders</a></h3>
    <h3><a href="{{ url_for('past_orders') }}">Past Orders</a></h3>
    {% else %}
    <h3><a href="{{ url_for('purchase_items') }}">Purchase Items</a></h3>
    <h3><a href="{{ url_for('ongoing_purchases') }}">On-going Purchases</a></h3>
    <h3>
      <a href="{{ url_for('finalize_purchases') }}">Finalize purchases</a>
    </h3>
    <h3><a href="{{ url_for('past_purchases') }}">Past Purchases</a></h3>
    {% endif %}
    <h3><a href="{{ url_for('market_prices') }}">Market Prices</a></h3>
    <h3><a href="{{url_for('notifications')}}">Notifications</a></h3>
  </div>
  <div class="mainbar">
    {% with messages=get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li style="list-style-type: none;">
        <h3>{{ message }}</h3>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block mainbar %}{% endblock %}
  </div>
  <script>
    function show_upload() {
      document.querySelector("#img-file").classList.remove("invisible");
      document.querySelector("#upload-img-btn").classList.add("invisible");
      document.querySelector("#img-submit").classList.remove("invisible");
    }
    $(function() {
      $("#datepicker").datepicker({
        dateFormat: "yy-mm-dd",
        minDate: 0,
        maxDate: "+15D"
      });
    });
    function showchat(clicked) {
      console.log(clicked);
      var str = ""
      for (var i = 1; i < clicked.length; ++i) {
        str += clicked[i];
      }
      var id = "#chat-" + str;
      document.querySelector(id).classList.remove("invisible");
      document.querySelector(id).innerHTML= "<iframe src=\"\\chatbox\\"+str+"\" frameborder=\"0\" width=\"300px\"height=\"480px\"></iframe>";
      id="#"+clicked;
      document.querySelector(id).classList.add("invisible");
      id="#a"+str;
      document.querySelector(id).classList.remove("invisible");
    }
    function clearchat(clicked){
      var str=""
      for(var i=1;i<clicked.length;++i)
      {
        str+=clicked[i];
      }
      var id="#chat-"+str;
      document.querySelector(id).classList.add("invisible");
      id="#b"+str;
      document.querySelector(id).classList.remove("invisible");
      id="#"+clicked;
      document.querySelector(id).classList.add("invisible");
    }
    
  </script>

  {% endblock %}
</div>
