{% extends 'dashboard.html' %} {% block mainbar %}
<div class="finalize-purchase">
  {% if orders|length < 1 %}
  <h3>No orders to finalize from!!!</h3>
  <h3>We will notify you when you get one :)</h3>
  {% else %} {% for item in orders %}
  <div class="finalize-card">
    <div class="text">
      Finalize your order from {{ item[0] }} for {{ item[1] }} kgs of {{ item[2]
      }} for Rs {{ item[3] }} <br />
      The date mentioned being {{ item[4] }}
    </div>
    <div>
      <form action="" class="btns" method="POST">
        {{form.hidden_tag()}}
        <button id="b{{item[6]}}" type="button" onclick="showchat(this.id)">
          Chat with {{ item[0] }}
        </button>
        <button
          id="a{{item[6]}}"
          type="button"
          onclick="clearchat(this.id)"
          class="invisible"
        >
          Minimize the chat
        </button>
        {{form.bid_id(value=item[6],class="invisible")}} {% if item[5]!=0 %} {{
        form.submit() }} {% endif %}
      </form>
      <div class="chat-window invisible " id="chat-{{item[6]}}"></div>
    </div>
  </div>
  {% endfor %} {% endif %} {% endblock %}
</div>
