{% extends 'base.html' %}
{% block content %}
{% with messages=get_flashed_messages() %} {% if messages %}
<ul>
    {% for message in messages %}
    <li style="list-style-type: none; text-align: center;margin: 5px 0; ">
        {{ message }}
    </li>
    {% endfor %}
</ul>

{% endif %} {% endwith %}
<section class="section-content">
    <slider>
        <slide>
            <p></p>
        </slide>
        <slide>
            <p></p>
        </slide>
        <slide>
            <p></p>
        </slide>
        <slide>
            <p></p>
        </slide>
    </slider>
    <div class="tint">
        <div class="home-container">
            <h1 class="home-header">Farmer 2 Consumer</h1>
            {% if login==False %}
            <button type="button" class="login-button" value="Login"><a href="{{url_for('login')}}">Login</a></button>
            <button type="button" class="login-button" value="Login"><a href="{{url_for('register')}}">Sign Up</a></button>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}