{% extends 'dashboard.html' %}
{% block mainbar %}
<div class="finalize-purchase">
    {% if orders|length < 1 %}
    <h3>You havent purchased any items yet</h3>
    <h3>We will notify you when you finish one :)</h3>
    {% else %} {% for item in orders %}
    <div class="finalize-card">
        <div class="text">
           <h3>You sold to {{ item[0] }} for {{ item[1] }} kgs of {{ item[2] }} for
        Rs {{ item[3] }} <br />
        The date mentioned being {{ item[4] }}
        The consumer has received the order and he has acknowledged it</h3>
        </div>
        <div class="btns">
            <div>
                <button id="b{{ item[6] }}" type="button" onclick="showchat(this.id)">
                    Chat History of {{ item[0] }}
                </button>
                <button id="a{{item[6]}}" type="button" onclick="clearchat(this.id)" class="invisible">Minimize the chat</button>
            </div>
            <div class="chat-window invisible " id="chat-{{ item[6] }}">
            </div>
        </div>
    </div>
    {% endfor %} {% endif %}
</div>
{% endblock %}