{% extends 'base.html' %}
{% block content %}
<div class="body">
    <div class="great">
        <div>
            <h1 style="text-align: center;">Products Offered</h1>
        </div>
        <div class="quote">
            <div>
                <div class="box box1">
                    <p>Vegetables are parts of plants that are consumed by humans or other animals as food. The original meaning is still
                    commonly used and is applied to plants collectively to refer to all edible plant matter, including the flowers, fruits,
                    stems, leaves, roots, and seeds. The alternate definition of the term vegetable is applied somewhat arbitrarily, often
                    by culinary and cultural tradition.</p>
                    <h2>Vegetables</h2>
                </div>
                <div class="bg"></div>
            </div>
            <div>
                <div class="box box2">
                    <p>Foods such as wheat, rice, oats, cornmeal, barley, quinoa or products made from these foods are considered grains.
                    Grains are high in carbohydrates which provide energy to your brain and muscles. Not all grains are created equally in
                    terms of nutritional benefits. The health benefits of a grain depend on the form of the grain you actually eat.</p>
                    <h2>Fruits</h2>
                </div>
                <div class="bg"></div>
            </div>
            <div>
                <div class="box box3">
                    <p>Foods such as wheat, rice, oats, cornmeal, barley, quinoa or products made from these foods are considered grains.
                    Grains are high in carbohydrates which provide energy to your brain and muscles. Not all grains are created equally in
                    terms of nutritional benefits. The health benefits of a grain depend on the form of the grain you actually eat.</p>
                    <h2>Grains</h2>
                </div>
                <div class="bg"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}