{% extends 'dashboard.html' %}
{% block mainbar %}
<div class="main-bar-content-purchase">
    <form action="" method="POST" id="purchase-item">
        {{ form.hidden_tag() }}
        <h2>Purchase An Item</h2>
        <select name="item" id="" form="purchase-item">
            {% for item in items %}
            <option value="{{item}}" SELECTED>{{item}}</option>"
            {% endfor %}
        </select>
        <!-- <input type="number" name="qty" id="qty" placeholder="Quantity in Kilograms" /> -->
        {{form.quantity(placeholder="Quantity in Kilograms",type="number")}}
        {% for error in form.quantity.errors %}
        <span> {{ error }}</span>
        {% endfor %}
        <p>
            <input type="text" name="date" id="datepicker" placeholder="Purchase Date" />
        </p>
        <!-- <input type="submit" value="Place an order" /> -->
        {{form.submit(value="Place an order")}}
    </form>
</div>
{% endblock %}