<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/switch.css') }}" />
    <title>Reset Password</title>
</head>

<body>
    <div class="background-sign-in">
        <div class="sign-in-box">
            <div class="sign-in-image hello">
                <img src="{{url_for('static',filename='images/farmer.png')}}" alt="Farmer Image" />
            </div>
            <div class="sign-in-form">
                {% with messages=get_flashed_messages() %} {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li style="list-style-type: none;">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %} {% endwith %}
                <form action="" method="POST">
                    {{form.hidden_tag()}}
                    <h1>Reset Password</h1>
                    <hr />
                    <h1>Hello {{name}}</h1>
                    <!-- <input type="password" name="" id="" placeholder="Password" />
                    <input type="password" name="" id="" placeholder="Re-type the password" />
                    <input type="submit" value="Reset Password" /> -->
                    {{form.password(placeholder="Password")}}
                    {{form.password2(placeholder="Retype the password")}}
                    {{form.submit(value="Reset Password")}}
                </form>
            </div>
        </div>
    </div>
</body>

</html>